<!DOCTYPE html>
{% load static %}

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content = "width=device-width", initial-scale="1.0">
    <title>SeokJin Web portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
      
</head>

<body>
    
    <div class="container_about">
        <div class="header">
            <h1><a href="#">SEOKJIN</a></h1>
            <div class="nav">
                <ul>
                    <li><div class ="link" id = "aboutme">ABOUT ME</div></li>
                    <li><div class ="link" id = "skills">SKILLS</div></li>
                    <li><div class ="link" id = "project">PROJECT</div></li>
                    <li><div class ="link" id = "contact">CONTACT</div></li>
                    <li><div class ="link" OnClick="location.href ='/guestbook'" id ="guestbook">GUESTBOOK</div></li>
                </ul>
            </div>
        </div>

        <div class="me">
            <h2>Web Developer <br> -SeokJin Lee-</h2>
            <p>안녕하세요.<br> 열정 넘치는 개발자 이석진입니다.</p>
           
    
        </div>

    </div>

    <div class="container_skills">
        <div class="title">
            <h1>Skills</h1>
        
        <h2>Programing Languages</h2>

        <div class="items">

            <div class="css">
                <div class = "explain">tried</div>
                <img src="/static/images/css.png">
            </div>

            <div class="html5">
                <div class = "explain">tried</div>
                <img src="/static/images/html5.png">
            </div>

            <div class="Javascript">
                <div class = "explain">tried</div>
                <img src="/static/images/javascript.png">
            </div>

            <div class="c">
                <div class = "explain">familiar</div>
                <img src="/static/images/c.png">
            </div>


            <div class="python">
                <div class = "explain">familiar</div>
                <img src="/static/images/python.png">
            </div>

            <div class="django">
                <div class = "explain">familiar</div>
                <img src="/static/images/django.png">
            </div>

            <div class="java">
                <div class = "explain">familiar</div>
                <img src="/static/images/java.png">
            </div>
        </div>

        <h2>DevOps/Environment</h2>

        <div class="items">

            <div class="git">
                <div class = "explain">tried</div>
                <img src="/static/images/git.png">
            </div>

            <div class="github">
                <div class = "explain">tried</div>
                <img src="/static/images/github.png">
            </div>

            <div class="linux">
                <div class = "explain">tried</div>
                <img src="/static/images/linux.png">
            </div>

        </div>

    </div>

    <div class="container_project">
        <div class="title">
            <h1>Project</h1>
        </div>

        <h2>Django REST API Framework를 이용한 CRUD 기능</h2>
        
        <div class="djangoContent">
            
            <span>
                작업 기간
            </span>
            <span>
                2022.05 ~ 2022.06(1개월)
            </span>
            <span>
                인력 구성
            </span>
            <span>
                BE 1명, FE 1명
            </span>
            <span>
                프로젝트 목적
            </span>
            <span>
                연구실 프로젝트 관련해서 Django REST API Framework 사용경험 및 숙력도 향상
            </span>

            <span>
                주요 업무 및 상세 역할
            </span>
            <span>
                REST API Framework을 사용해 프론트에서 요청한 CRUD(회원가입, 탈퇴, 그외 DB 정보 요청)
            </span>

            <span>
                사용 언어 및 개발환경
            </span>
            <span>
                Python/Django/Django REST API Frameword/Linux/zsh/ws2/git
            </span>
            <span>
                느낀 점
            </span>
            <span>
                Django REST API Framework를 이해할 수 있었다.<br>
                git을 이용한 pull, merge를 경험해볼 수 있었다.
            </span> 
        </div>

        <h2>C++을 이용한 객체지향 콘솔 테트리스 게임</h2>
        
        <div class="cplusplusContent">
            
            <span>
                작업 기간
            </span>
            <span>
                2020.01 ~ 2020.02(1개월)
            </span>
            <span>
                인력 구성
            </span>
            <span>
                개인
            </span>
            <span>
                프로젝트 목적
            </span>
            <span>
                C++ 언어 및 객체지향 프로그래밍 숙련도 향상
            </span>

            <span>
                주요 업무 및 상세 역할
            </span>
            <span>
                Windows 콘솔 환경에서 테트리스 게임을 제작
            </span>

            <span>
                사용 언어 및 개발환경
            </span>
            <span>
                C++, visual studio 2020
            </span>
            <span>
                느낀 점
            </span>
            <span>
                이론으로만 배운 객체지향 개념을 게임을 만들면서 더 확실히 이해할 수 있었다.<br>
                콘솔에서 더블버퍼링 문제를 해결하는 방법을 배움
            </span> 
        </div>


        <h2>FCFS vs Round-Robin vs SRT 스케줄링 알고리즘 성능 분석</h2>
        
        <div class="schedulingContent">
            
            <span>
                작업 기간
            </span>
            <span>
                2022.05 ~ 2022.06 (1개월)
            </span>
            <span>
                인력 구성
            </span>
            <span>
                개인
            </span>
            <span>
                프로젝트 목적
            </span>
            <span>
                학교 운영체제 프로젝트 과제
            </span>

            <span>
                주요 업무 및 상세 역할
            </span>
            <span>
                각 스케줄링 알고리즘을 구현 후 성능을 분석하는 프로그램을 작성
            </span>

            <span>
                사용 언어 및 개발환경
            </span>
            <span>
                C, Ubuntu Linux, vim
            </span>
            <span>
                느낀 점
            </span>
            <span>
        
                스케줄링에 대해서 더 확실히 이해할 수 있게 되었다<br>
                vim 사용법을 알게되었다.
            </span> 
        </div>


    </div>

    <div class="container_contact">
        <div class="title">
            <h1>Contact</h1>
        </div>


        <div class="content">
            <div class="outgrid">
                <span class="address">
                    Address
                </span>
                <span class="address_value">
                    경기도 시흥시
                </span>
                <span class="phone">
                    Phone
                </span>
                <span class="phone_value">
                    010-7383-9915
                </span>
                <span class="email">
                    Email 
                </span>
                <span class="email_value">
                    seokjin.lee.0706@gmail.com
                </div>
    
            </div>

            <div class="items">
                
                <div class ="github">
                    <a href="https://github.com/seokjin0706">
                        <img src="/static/images/github.png">
                    </a>
                </div>
            
                <div class ="blog">
                    <a href="https://seokjin2.tistory.com/">
                        <img src="/static/images/blog.png">
                    </a>
                </div>    
            </div>
        </div>
      
    </div>

</body>
<script src="{% static 'javascript/scroll.js' %}"> </script>

</html>